:root {
  --cor-primaria: #21883d;
  --cor-secundaria: #f7f8fa;
  --cor-fundo-navbar: #f7f8fa;
  --cor-fundo: #ffffff;
  --cor-texto: #3d4f5c;
  --cor-vermelha: #d9534f;
  --fonte-principal: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  background: var(--cor-secundaria);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--cor-texto);
}

.container {
  width: 100%;
  max-width: 500px;
  background: var(--cor-fundo);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.formulario input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.formulario button {
  padding: 12px 16px;
  background: var(--cor-primaria);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.acoes {
  margin-bottom: 15px;
}

.btn-limpar {
  width: 100%;
  padding: 12px;
  background: var(--cor-vermelha);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#listaTarefas {
  list-style: none;
}

/* ITEM DA LISTA */
.lista-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  background: var(--cor-secundaria);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* TEXTO */
.lista-item span {
  flex: 1;
  color: var(--cor-texto);
  word-break: break-word;
}

/* BOTÃO X */
.btn-remover {
  background: var(--cor-vermelha);
  color: #fff;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 12px;
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 480px) {
  .formulario {
    flex-direction: column;
  }

  .formulario button {
    width: 100%;
  }

  /* mantém linha no mobile */
  .lista-item {
    flex-direction: row;
  }
}
